{% extends 'silk/base.html' %}

{% block title %} SKV {% endblock %}

{% block body %}
    <div class="col-md-3">
    </div>

    <div class="col-md-9">
        <h1>О платках</h1>

        <p>Шелковые платки из Индии!</p>

        <p>КАЖДЫЙ ПЛАТОК ЕДИНСТВЕННЫЙ!!!</p>

        <p>Ни один узор и цвет не повторяется!!!</p>

        <p>Silk House предлагает платки и палантины ручной работы из натурального бенаресского шёлка. Многоцветность,
            перламутровость, необычная технология изготовления делают каждый платок уникальным! Платки из нежнейшего
            шелка практически невесомы, приятны на ощупь, не электризуются.</p>

        <p>Шелковый платок сочетается с любой формой одежды: с вечерним платьем, офисным костюмом, повседневной одеждой.
            Шелковый платок также очень практичен. Он дарит прохладу летом и согревает зимой!</p>
    <br>
    <br>
    <br>
    <br>
    <br>

    </div>



{% endblock %}
