<div class="row">

{#    Footer line#}
{#    <div class="row" style="background: #cfa73a;">#}
        <div class="col-md-12 text-center">
            <br>
        </div>
{#    </div>#}

{#    Footer line#}
{#    <div class="row">#}
        <div class="col-md-12 text-center">
            <br>
        </div>
{#    </div>#}

{#    Button row#}
    <div class="row">
        <div class="col-md-4 text-center">
        </div>

        <div class="col-md-4 text-center">
            <div class="row">

                {#                <ul class="nav nav-pills nav-justified">#}
                {#                    <li class=""><a href="#">VK</a></li>#}
                {#                    <li class=""><a href="#">Instagram</a></li>#}
                {#                </ul>#}
                <div class="btn-group btn-group-justified" role="group">
                    <a href="https://vk.com/silkhouse_ru" class="btn btn-block btn-social btn-vk"><span class="h4"><i
                            class="fa fa-vk"></i></span> VK</a>
                    <a href="https://instagram.com/silkhouse.ru" class="btn btn-block btn-social btn-instagram"><span
                            class="h4"><i class="fa fa-instagram"></i></span> Instagram</a>

                </div>


            </div>
        </div>

        <div class="col-md-4 text-center">
        </div>
    </div>

</div>