    <nav id="footer">
        <div class="container">
            <div class="pull-left nav">
{#                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2014. Designed by <a href="https://dribbble.com/shots/1817781--FREEBIE-Spirit8-Digital-agency-one-page-template" target="_blank">Robert Berki</a> and Coded by <a href="https://dribbble.com/jennpereira" target="_blank">Jenn Pereira</a></p>#}
                <p> +7(XXX)XXX-XX-XX  <a href="http://silkhouse.ru">silkhouse.ru</a></p>
            </div>
            <div class="pull-right nav">
                <ul class="footer-social">
                    <li><a href="https://vk.com/silkhouse_ru"><i class="fa fa-vk"></i></a></li>
                    <li><a href="https://instagram.com/silkhouse.ru/"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
