{% load staticfiles %}

<div class="row">

    <div class="col-lg-4">
        <p class="h3 text-center"> Стираем шёлк </p>

        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" style="max-width: 36px;"
                     src="{% static "images/laundry/hand_wash_white.svg" %}" alt="Hand Wash">
            </div>
            <div class="media-body">
                <h5 class="media-heading">Ручная стирка</h5>
                Только ручная стрика. Максимальная температура воды 25 градусов. Не применять сухой стиральный порошок.
                Стирка только жидкими моющими средствами. Не рекомендуется предварительное «замачивание».
            </div>
        </div>

        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" style="max-width: 36px;"
                     src="{% static "images/laundry/do_not_dryclean_white.svg" %}" alt="Do Not Dryclean">
            </div>
            <div class="media-body">
                <h5 class="media-heading">Не подвергать химической чистке</h5>

            </div>
        </div>

        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" style="max-width: 36px;"
                     src="{% static "images/laundry/do_not_bleach_white.svg" %}" alt="Do Not Bleach">
            </div>
            <div class="media-body">
                <h5 class="media-heading">Не применять отбеливающие средства</h5>

            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <p class="h3 text-center"> Сушим шёлк </p>

        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" style="max-width: 36px;"
                     src="{% static "images/laundry/drip_dry_white.svg" %}" alt="Drip Dry">
            </div>
            <div class="media-body">
                <h5 class="media-heading">Дайте стечь воде</h5>
                Для отжима платка сложить его несколько раз и сжать между ладонями, дать воде стечь.
            </div>
        </div>

        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" style="max-width: 36px;"
                     src="{% static "images/laundry/dry_flat_white.svg" %}" alt="Dry Flat">
            </div>
            <div class="media-body">
                <h5 class="media-heading">Сушить расправленным</h5>
                После отжима платок необходимо расправить и разложить на махровом полотенце.
            </div>
        </div>

        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" style="max-width: 36px;"
                     src="{% static "images/laundry/do_not_wring_white.svg" %}" alt="Do Not Wring">
            </div>
            <div class="media-body">
                <h5 class="media-heading">Не скручивать</h5>

            </div>
        </div>

        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" style="max-width: 36px;"
                     src="{% static "images/laundry/do_not_tumble_dry_white.svg" %}" alt="Do Not Tumble Dry">
            </div>
            <div class="media-body">
                <h5 class="media-heading">Не сушить в стиральной машине</h5>

            </div>
        </div>

        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" style="max-width: 36px;"
                     src="{% static "images/laundry/dry_in_shade_white.svg" %}" alt="Dry In Shade">
            </div>
            <div class="media-body">
                <h5 class="media-heading">Не сушить на солнце</h5>

            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <p class="h3 text-center"> Гладим шёлк </p>

        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" style="max-width: 36px;"
                     src="{% static "images/laundry/iron_low_white.svg" %}" alt="Iron Low">
            </div>
            <div class="media-body">
                <h5 class="media-heading">Глажка при минимальной температуре</h5>

            </div>
        </div>

        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" style="max-width: 36px;"
                     src="{% static "images/laundry/do_not_steam_white.svg" %}" alt="Do Not Steam">
            </div>
            <div class="media-body">
                <h5 class="media-heading">Не отпаривать</h5>
                Не использовать при глажке пар, так как он разрушает структуру волокна.
            </div>
        </div>
    </div>

</div>
