{% load static %}
{% load scarf %}

{#<div class="row text-center">#}
{#    <div class="col-lg-3">#}
{#        <h3>Однотонные</h3>#}
{#    </div>#}
{#    <div class="col-lg-3">#}
{#        <h3>Многотонные</h3>#}
{#    </div>#}
{#    <div class="col-lg-3">#}
{#        <h3>Строгие цвета</h3>#}
{#    </div>#}
{#    <div class="col-lg-3">#}
{#        <h3>Большие</h3>#}
{#    </div>#}
{#</div>#}

<div class="row">
    {% for scarf in scarfs %}
        <div class="col-md-3">
            {% scarf_thumbnail scarf.id %}
        </div>
    {% endfor %}

</div>

<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group btn-group-lg btn-group-justified">
            <a href="{% url 'shop:home' %}" class="btn btn-warning">Перейти в магазин</a>
        </div>
    </div>
</div>
