<div class="row">
    <div class="col-lg-4 text-center">
        <h4></strong>Для организаций</strong></h4>
        <p>Возможна безналичная оплата услуг и специальные способы доставки.
            После оформления заказа с вами свяжется менеджер.</p>
    </div>
    <div class="col-lg-4 text-center">
        <h4></strong>Для москвы</strong></h4>
        <p>Бесплатно при встерче в метро в пределах кольцевой линии.
            Доставка осуществляется курьером в будни с 9 до 21, в выходные с 11 до 20.
            Стоимость доставки в пределах МКАД 200 рублей.
            Дата доставки обговаривается индивидуально с каждым клиентом.
            </p>
    </div>
    <div class="col-lg-4 text-center">
        <h4></strong>Для регионов</strong></h4>
        <p>Доставка осуществляется почтовой службой "Почта России".
            После отправки посылки, клиенту направляется трекинг-номер для отслеживания доставки.
            Стоимость доставки 150 рублей, оплата при вручении посылки.</p>
    </div>
</div>